<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Main Test Suite" verbose="5">

    <parameter name="appURL" value="https://uk.yahoo.com/"/>
    <parameter name="browserType" value="firefox"/>

    <listeners>
        <listener class-name="com.wordpressTest.framework.TestNGCustomReportListener"/>
    </listeners>
    <test name="TestNG Test Group">
        <packages>
            <package name="com.wordpressTest.tests.sanityTests"/>
            <package name="com.wordpressTest.tests.regressionTests"/>
        </packages>
    </test>
</suite>